.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgb(149, 26, 26),white,rgb(129, 4, 4));
}
.img{
    height: 200px;
    width: 400px;
    margin-top: 20px;

}
input{
    width:400px;
    height: 50px;
    margin-top: 30px;
}
h1{
    text-align: center;
}
p{
    font-size: 50px;
    background-color: aquamarine;
    padding:10px;
    text-align: center;
}
.para2{
    padding: 0;
    padding: 10px;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-style: italic;
    background-color: transparent;
    align-self: flex-end;
}